
<h1>About Us</h1>
<hr>
<div class="row">
    <div class="column">
        <img src="/parker_pic.jpg">
    </div>
    <div class="column bio">
        <h2>Parker Jones</h2>
        <p>
            Hi, I'm Parker - I'm a senior Computer Science major at CSU. I'm located in Fort Collins, and I'm originally 
            from Morrison, CO; I moved up here about three years ago with my cat Gray Souffle. I love to crochet, play 
            video games, travel, and watch any and all seasons/franchises of the Real Housewives (if you haven't watched 
            any, you haven't lived). I'm looking forward to gaining more experience in front-end programming through this 
            project! 
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="column">
        <img src="placeholder">
    </div>
    <div class="column bio">
        <h2>Riley Nelson</h2>
        <p>bio</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="column">
       <img src="placeholder">
    </div>
    <div class="column bio">
        <h2>Kalena Lam</h2>
        <p>bio</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="column">
        <img src="placeholder">
    </div>
    <div class="column bio">
        <h2>Reagan Topps</h2>
        <p>bio</p>
    </div>
</div>

