.card {
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 2rem auto;
  max-width: 1000px;
}

.card-pink {
  background-color: #FFCCCC;/*WebAIM score: 7.5*/
  box-shadow: 0 0 10px #EE3377;/*poor contrast git rid of?*/
}

.card-blue {
  background-color: #CCEEFF; /*WebAIM score: 8.76*/
  box-shadow: 0 0 10px #EE3377;/*poor contrast git rid of?*/
}

.card-yellow {
  background-color: #EEEEBB;/*WebAIM score: 8.93*/
  box-shadow: 0 0 10px #EE3377;/*poor contrast git rid of?*/
}

.card-purple {
  background-color: #CCDDAA;/*WebAIM score: *7.36*/
  box-shadow: 0 0 10px #EE3377;/*poor contrast git rid of?*/
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.column {
  flex: 1;
  min-width: 250px;
}

.bio {
  flex: 2;
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
