
<h1>About Us</h1>
<hr>
<div class="row">
    <div class="column">
        <img src="/parker_pic.jpg">
    </div>
    <div class="column bio">
        <h2>Parker Jones</h2>
        <p>
            Hi, I'm Parker - I'm a senior Computer Science major at CSU. I'm located in Fort Collins, and I'm originally 
            from Morrison, CO; I moved up here about three years ago with my cat Gray Souffle. I love to crochet, play 
            video games, travel, and watch any and all seasons/franchises of the Real Housewives (if you haven't watched 
            any, you haven't lived). I'm looking forward to gaining more experience in front-end programming through this 
            project! 
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="column">
        <img src="/riley_pic.jpg">
    </div>
    <div class="column bio">
        <h2>Riley Nelson</h2>
        <p>Hi, I'm Riley! I'm a Junior Computer Science major at CSU and a second-degree seeking student in Elementary Education. 
            Before returning to school, I taught kindergarten, first grade, and outdoor education for seven years. I'm originally 
            from Boise, Idaho, and moved to Colorado with my partner of seven years, Kelton, along with our dog Obi and our cat Luna.
            I pet sit part-time and absolutely love all animals. In my free time, I enjoy reading, crocheting, creating art, hiking, 
            backpacking, snowboarding, and camping. Anything outdoors is my happy place. I'm passionate about combining my love for 
            education, accessibility, and programming, and I’m especially excited to explore front-end design more through this project.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="column">
       <img src="placeholder">
    </div>
    <div class="column bio">
        <h2>Kalena Lam</h2>
        <p>bio</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="column">
        <img src="placeholder">
    </div>
    <div class="column bio">
        <h2>Reagan Topps</h2>
        <p>bio</p>
    </div>
</div>

