<h1 class="no-print" style="text-align: center;">About Us</h1>

<div class="card card-pink">
  <div class="row">
    <div class="column">
      <img src="/parker_pic.jpg" alt="Parker Jones">
    </div>
    <div class="column bio">
      <h2>Parker Jones</h2>
      <p>
        Hi, I'm Parker - I'm a senior Computer Science major at CSU. I'm located in Fort Collins, and I'm originally 
        from Morrison, CO; I moved up here about three years ago with my cat Gray Souffle. I love to crochet, play 
        video games, travel, and watch any and all seasons/franchises of the Real Housewives (if you haven't watched 
        any, you haven't lived). I'm looking forward to gaining more experience in front-end programming through this 
        project!
      </p>
    </div>
  </div>
</div>

<div class="card card-blue">
  <div class="row">
    <div class="column">
      <img src="/riley_pic.jpg" alt="Riley Nelson">
    </div>
    <div class="column bio">
      <h2>Riley Nelson</h2>
      <p>
        Hi, I'm Riley! I'm a Junior Computer Science major at CSU and a second-degree seeking student in Elementary Education. 
        Before returning to school, I taught kindergarten, first grade, and outdoor education for seven years. I'm originally 
        from Boise, Idaho, and moved to Colorado with my partner of seven years, Kelton, along with our dog Obi and our cat Luna.
        I pet sit part-time and absolutely love all animals. In my free time, I enjoy reading, crocheting, creating art, hiking, 
        backpacking, snowboarding, and camping. Anything outdoors is my happy place. I'm passionate about combining my love for 
        education, accessibility, and programming, and I’m especially excited to explore front-end design more through this project.
      </p>
    </div>
  </div>
</div>

<div class="card card-yellow">
  <div class="row">
    <div class="column">
      <img src="/kalena_pic.jpg" alt="Kalena Lam">
    </div>
    <div class="column bio">
      <h2>Kalena Lam</h2>
      <p>
        Hi! I'm a junior studying Computer Science, specifically Human-Centered Computing. I'm originally from Honolulu, Hawaiʻi 
        and intend to move back there after I graduate. I love to surf and can't live without it! But, snowboarding is nice for 
        these four years, especially powder. I am super passionate about Hawaiian language, culture, and ways of thinking and want 
        to explore how technology can coexist with Indigeneity, and perhaps assist us further in being stewards to our environment.
      </p>
    </div>
  </div>
</div>

<div class="card card-purple">
  <div class="row">
    <div class="column">
      <img src="/reagan_pic.jpg" alt="Reagan Topps">
    </div>
    <div class="column bio">
      <h2>Reagan Topps</h2>
      <p>
        Hello! I am a senior studying computer science who upon graduation will be working as a software engineer in the 
        Department of Defense sector. I am from Colorado Springs but will be in Denver upon graduation. I love to bodybuild, 
        ski, competitively shoot and play video games. I love learning all aspects of computer science — well the coding aspects 
        at least — and am happy to be learning more about web development through this project.
      </p>
    </div>
  </div>
</div>
