<header>
  <nav class="navbar">
      <div class="logo-container">
          <div class="logo">C</div>
          <h1 class="company-name">Color Extravaganza</h1>
      </div>
      <ul class="nav-links">
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/color-generation" routerLinkActive="active">Color Generation</a></li>
      </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
