
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-family: "Myriad Pro", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, #FFCCCC, #CCEEFF, #FFDBA4); /*WebAIM score: in order Left to right 7.5, 8.76, 8.08  */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #184067;
  }
  
  .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .app-main {
    flex: 1;
    padding: 2rem 1rem;
    color: #184067;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: transparent;
  }
  
  .navbar {
    width: 100%;
    background: #FFCCCC; /*WebAIM score:  7.5*/
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    color: #184067;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-weight: bold;
    font-size: 18px;
    transition: transform 0.3s ease;
  }
  
  .logo:hover {
    transform: rotate(10deg) scale(1.1);
  }
  
  .logo-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
  }
  
  .company-name {
    color: #184067;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    padding-right: 40px;
    margin-left: auto;
  }
  
  .nav-links li {
    margin-left: 30px;
  }
  
  .nav-links a {
    color: #184067;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease, background-color 0.3s ease;
    position: relative;
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    
  }
  
  .nav-links a:hover {
    background-color: #DDDDDD;/*WebAIM score:  7.85*/
    box-shadow: 0 0 20px #EE3377; /*poor contrast git rid of?*/
  }
  
  .nav-links a.active {
    background-color: #CCEEFF;/*WebAIM score:  8.76*/
  }
  
  footer {
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: #184067;
    background-color: transparent;
  }