/* home.css - Styles specific to the Home page */

h1 {
    text-align: center;
    font-size: 50px;
    padding: 200px 0 300px 0;
    color: #184067;
  }
  
  h2 {
    text-align: center;
    color: #184067;
  }
  
  .card {
    background-color: #FFCCCC; /* WebAIM score: 7.5 */
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 0 10px #EE3377; /* poor contrast, optional to remove */
    color: #184067;
    margin-bottom: 1.5rem;
  }